#instalacoes div{
    margin-left: 5%;
    width: 90%;
    height: 350px;
    border-top: 1px solid white;
}
#instalacoes div img{
    margin-top: 2%;
    margin-left: 20%;
    width: 60%;
    height: 60%;
}
@media screen and (min-width:0px) and (max-width:1000px)
{
#instalacoes div{
    height: 800px;
}
#instalacoes div img{
    margin-left:0;
    width: 100%;
    height: 96%;
}
}